name: Dependabot Auto Merge
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write   # needed to update/merge PRs
  contents: write        # needed to push merge commits to the repo

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Wait for status checks
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
          running-workflow-name: 'auto-merge'
          allowed-conclusions: success,skipped,neutral
          
      - name: Auto merge Dependabot PRs
        uses: fastify/github-action-merge-dependabot@v3
        if: success()
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
          target: minor
